<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<title>Pay my buddy App</title>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
			<a class="navbar-brand" href="homepage-static.html">Pay my buddy App</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class = "navbar-nav mr-auto">
                  <li class = "nav-item">
                     <a class = "nav-link" th:href = "@{/}">Home</a>
                  </li>
                  <li class = "nav-item">
                     <a class = "nav-link active" th:href = "@{/profile}">Profile</a>
                  </li>
                  <li class = "nav-item ">
                     <a class = "nav-link" th:href = "@{/transfer}">Transfer</a>
                  </li>
                  <li class = "nav-item ">
                     <a class = "nav-link" th:href = "@{/}">Contact</a>
                  </li>
                  <li class = "nav-item ">
                     <a class = "nav-link" th:href = "@{/logout}">Log off</a>
                  </li>
               </ul>

			</div>
		</nav>
		<form action="#" method="post" th:action="@{/profile}" th:object="${user}">
			<h2 class="mt-4">Profile <span th:text="${thisuser.name}"> name</span></h2>
			<hr />
			<!-- Form levels error messages here -->
			<div class="form-group row ">
				<div class="col-sm-8">
					<span>Account Balance : </span>
					<span th:text="${#numbers.formatDecimal(thisuser.accountBalance, 0, 'COMMA', 2, 'POINT')}" > balance </span>
				</div>
				<div class="col-sm-8">
					<span>username : </span>
					<span th:text="${thisuser.username}"> username </span>
				</div>
			</div>
			<div class="form-group row ">
				<label for="deposit" class="col-sm-2 col-form-label">Deposit amount</label>
				<div class="col-sm-4">
					<input th:field="*{depositAmount}" type="text" class="form-control" placeholder="Mandatory">
				</div>
				<div class="col-sm-4">
					<span class="text-danger"> </span>
				</div>
				<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Deposit</button>
				</div>
				</div>
			</div>
		</form>
			<form action="#" method="post" th:action="@{/withdraw}" th:object="${user}">
			<div class="form-group row ">
				<label for="deposit" class="col-sm-2 col-form-label">Transfer to Bank</label>
				<div class="col-sm-4">
					<input th:field="*{depositAmount}" type="text" class="form-control" placeholder="Mandatory">
				</div>
				<div class="col-sm-4">
					<span class="text-danger" th:if="${error} != null"> [[${error}]]  </span>
				</div>
				<div class="form-group row">
					<div class="col-sm-10">
					<button class="btn btn-primary">Transfer</button>
					</div>
				</div>
			</div>
			</form>

	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"> </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"> </script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"> </script>
</body>

</html>