<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<title>Pay my buddy App</title>
</head>

<body>
	<div class="container">
 		<nav class = "navbar navbar-expand-sm navbar-dark bg-success">
            <a class = "navbar-brand" href = "index.html">Pay my buddy App</a>
            <button class = "navbar-toggler" type = "button" data-toggle = "collapse" 
               data-target = "#navbarSupportedContent" 
               aria-controls = "navbarSupportedContent" aria-expanded = "false" 
               aria-label = "Toggle navigation">
               
               <span class = "navbar-toggler-icon"></span>
            </button>
            
            <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
               <ul class = "navbar-nav mr-auto">
                  <li class = "nav-item">
                     <a class = "nav-link" th:href = "@{/}">Home</a>
                  </li>
                  <li class = "nav-item">
                     <a class = "nav-link" th:href = "@{/profile}">Profile</a>
                  </li>
                  <li class = "nav-item ">
                     <a class = "nav-link active" th:href = "@{/transfer}">Transfer</a>
                  </li>
                  <li class = "nav-item ">
                     <a class = "nav-link" th:href = "@{/}">Contact</a>
                  </li>
                  <li class = "nav-item ">
                     <a class = "nav-link" th:href = "@{/logout}">Log off</a>
                  </li>
               </ul>
            </div>
      	</nav> 
		<h2 th:inline="text" class = "mt-4">Welcome to the application <span>[[${userAuth.name}]]</span> ! You have <span th:text="${#numbers.formatDecimal(userAuth.accountBalance, 0, 'COMMA', 2, 'POINT')}+'€'">balance </span></h2> <br>
		<h5 >Easy transfer between friends !</h5>
		<hr />
			<div class="form-group row ">
				<div class="col-sm-8">
				<a th:href="@{/addConnection}"><button type="submit" class="btn btn-primary">Add Connection</button></a>
				</div>
			</div>
		<form action="#" method="post" th:action="@{/transfer}" th:object="${transac}">
			<!-- Form levels error messages here -->
			<div class="form-group row ">
				<div class="col-sm-8">
					<span class="text-danger"> </span>
				</div>
			</div>
			<div class="form-group row ">
				<label for="amount" class="col-sm-2 col-form-label">Send Money</label>
				<div class="col-sm-4">
					<select th:field="*{receiverUsername}">
						<option value="0">select connection</option>
						<option th:each="liste : ${list}" th:value="${liste}" th:text="${liste}">Liste</option>
					</select>
				</div>
				<div class="col-sm-4">
					<input th:field="*{transferAmount}" type="number" class="form-control" placeholder="Amount">
					<input th:field="*{description}" type="text" class="form-control" placeholder="Description">

					<span class="text-danger" th:if="${error} != null"> [[${error}]] </span>
				</div>
				<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-success">Pay</button>
				</div>
				</div>
			</div>

		</form>
		<table class="table table-striped">
			<thead class="table-success">
		        <tr class="table-success">
		            <th class="text-left">Connections</th>
		            <th class="text-left">Description</th>
		            <th class="text-left">Amount</th>
		        </tr>
		    </thead>
		    <tbody>
				<tr th:each="transaction: ${alltransac}">
						<td><span th:text="${transaction.receiver.name}"> receiver </span></td>
						<td><span th:text="${transaction.description}"> desc </span></td>
						<td><span th:text="${transaction.amount}+'€'"> amount </span></td>
				</tr>
			</tbody>
		</table>
		
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>